## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from itinerary_config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\nancy\Desktop\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bengkulu,ID,297.93,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
1,1,Sibolga,ID,298.30,clear sky,1.7427,98.7792,Hotel Syariah CN Darussalam
2,2,Lusambo,CD,294.94,light rain,-4.9667,23.4500,NaN
3,10,Hobart,AU,291.07,light rain,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
4,13,Kapaa,US,299.37,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...,...
273,688,Pala,TD,298.37,few clouds,9.3642,14.9046,Nectar Hôtel de Pala
274,690,Los Alamos,US,294.98,clear sky,35.8881,-106.3070,Holiday Inn Express & Suites Los Alamos Entrad...
275,692,Tecoanapa,MX,299.38,overcast clouds,16.5167,-98.7500,Hotel Manglares
276,695,Santa Maria,BR,290.76,clear sky,-29.6842,-53.8069,Hotel Morotin
277,698,Jerez,GT,294.45,scattered clouds,14.1000,-89.7500,Auto hotel Esmeralda

In [4]:
clean_hotel_df = vacation_df.dropna()
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bengkulu,ID,297.93,few clouds,-3.8004,102.2655,Grage Hotel Bengkulu
1,1,Sibolga,ID,298.30,clear sky,1.7427,98.7792,Hotel Syariah CN Darussalam
3,10,Hobart,AU,291.07,light rain,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
4,13,Kapaa,US,299.37,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,17,Buctzotz,MX,296.24,clear sky,21.2000,-88.7833,Buctoztz
...,...,...,...,...,...,...,...,...
273,688,Pala,TD,298.37,few clouds,9.3642,14.9046,Nectar Hôtel de Pala
274,690,Los Alamos,US,294.98,clear sky,35.8881,-106.3070,Holiday Inn Express & Suites Los Alamos Entrad...
275,692,Tecoanapa,MX,299.38,overcast clouds,16.5167,-98.7500,Hotel Manglares
276,695,Santa Maria,BR,290.76,clear sky,-29.6842,-53.8069,Hotel Morotin
277,698,Jerez,GT,294.45,scattered clouds,14.1000,-89.7500,Auto hotel Esmeralda

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Portland")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Portland")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Washington")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Whitefish")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Baker City")]

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=(stop1, stop2, stop3), travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,221,Portland,US,294.17,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
1,408,Washington,US,293.37,overcast clouds,47.5001,-120.5015,"Cashmere Cider Mill Guest Suites, Weddings & T..."
2,90,Whitefish,US,291.01,clear sky,48.4111,-114.3376,Best Western Rocky Mountain Lodge
3,427,Baker City,US,290.99,clear sky,44.7749,-117.8344,Bridge Street Inn

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))